<header>
  <div class="logo">
    <img src="https://media.discordapp.net/attachments/1367228675640262707/1367241336809324655/Government_House.png.png?ex=68230778&is=6821b5f8&hm=9f358630d35f8ce81fbd44e89d384bc0a0cd9d4bb66db45a66a7d0666b99d4a3&=&format=webp&quality=lossless&width=960&height=960" alt="Logo"> <!-- โลโก้ -->
  </div>
  <ul class="menu">
    <li><a href="index.html">หน้าหลัก</a></li>
    <li class="dropdown">
      <a href="#">เกี่ยวกับ</a>
      <div class="dropdown-content">
        <a href="policy.html">นโยบาย</a>
        <a href="executives.html">ทำเนียบผู้บริหาร</a>
        <a href="gov.html">ตรวจสอบข้อมูล</a>
      </div>
    </li>
    <li><a href="#">ติดต่อเรา</a></li>
    <li><a href="https://rep-arlington.pages.dev/gov/">กลับหน้าหลัก</a></li>
  </ul>
</header>
