* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: CPN, sans-serif;
  background-color: #313338;
  color: white;
}

.container {
    width: 100%;
    max-width: 1538px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

@media screen and (min-width: 1440px) {
    .layout.margin-bottom {
        grid-column-gap: 240px;
        grid-row-gap: 240px;
    }
}
@media screen and (min-width: 1280px) {
    .layout.margin-bottom {
        grid-column-gap: 120px;
        grid-row-gap: 120px;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}
.layout.margin-bottom {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.layout {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gradient-blue {
    background-image: linear-gradient(#5865f2, #e0e3ff);
    border-radius: 88px;
    flex: none;
    width: 50%;
    max-width: 27rem;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
}

.image-all {
    width: 100%;
}

img {
    max-width: 100%;
    display: inline-block;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

img {
    border: 0;
}

.max-width620.is-margin {
    width: 50%;
    max-width: 520px;
    margin-left: 0;
    margin-right: 0;
}

.max-width620 {
    width: 100%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.new-h1.text-color-white.is_d {
    letter-spacing: -.01em;
    max-width: 450px;
    margin-bottom: 24px;
}

.text-color-white {
    color: white;
}

.new-h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: .96;
}

h2 {
    margin-top: 0;
}

.body-text--xll.new {
    letter-spacing: normal;
    font-weight: 400;
}

.body-text--xll {
    letter-spacing: .02em;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 130%;
}

.padding-48px {
    padding-bottom: 48px;
}

.layout_left.gap8 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: wrap;
}

.layout_left {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.btn-download.is_white {
    color: #000;
    background-color: #fff;
}
.btn-download {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: #fff;
    background-color: #ffffff1a;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    max-height: 48px;
    padding: 13px 24px;
    font-family: inherit;
    font-weight: 500;
    transition: all .3s;
    display: flex;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

@media (max-width: 780px) {
  .new-h1.text-color-white.is_d {
      font-size: 32px;
  }
}
@media (max-width: 720px) {
  .gradient-blue {
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
    p.body-text--xll.new {
        font-size: 12px;
    }

    h2.new-h1.text-color-white.is_d {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
  .layout {
    flex-direction: column;
  }
  
  .max-width620.is-margin {
    width: 100%;
    max-width: 90%;
  }

  .gradient-blue {
    border-radius: 72px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .gradient-blue {
    display: none;
  }
}

@media (max-width: 900px) {
  p.body-text--xll.new {
      font-size: medium;
  }
}
