* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CPN, sans-serif;
}

body {
    margin: 0;
    background-color: #f4f4f4;
}

input#uid, input#name {
    text-align: center;
    padding: 4px 6px;
    outline: 0;
    border-bottom: 2px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

main > button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00c108;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: CPN;
}

i {
    
}
