* {font-family: CPN, sans-serif;}
body { padding: 20px; margin:0;background: lightgoldenrodyellow; }
.hidden { display: none !important; }
table { border-collapse: collapse; width: 100%; margin-top: 20px; }
th, td { border: 1px solid #ccc; padding: 8px; }
th { background-color: #f0f0f0; }
img { width: 60px; }
input {
    padding: 10px;
    margin: 5px auto;
    width: 75%;
    max-width: 600px;
}

button[onclick="logout()"] {
    width: unset;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 40px);
}

button {
    padding: 10px;
    margin: 5px auto;
    width: 75%;
    background: #eee;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    max-width: 600px;
}

button:hover {
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
