:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

body {
    font-family: CPN, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(#1cc61ccf, #ffffffbf), url(/assets/img/bg.gif);
    background-size: cover;
    background-position: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.h-100 {
    height: 100% !important;
}

.flex-root {
    flex: 1;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.card {
    border: 0;
}

@media (min-width: 768px) {
    .w-md-550px {
        width: 550px !important;
    }
}
.rounded-3 {
    border-radius: 0.625rem !important;
}
.shadow {
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: 1px;
    --bs-card-border-color: #f4f4f4;
    --bs-card-border-radius: 0.625rem;
    --bs-card-box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
    --bs-card-inner-border-radius: calc(0.625rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
}

input, button {
    font-family: inherit;
}

.card .card-body {
    padding: 2rem 2.25rem;
}
@media (min-width: 992px) {
    .pb-lg-10 {
        padding-bottom: 2.5rem !important;
    }
}
@media (min-width: 992px) {
    .p-lg-20 {
        padding: 5rem !important;
    }
}
.p-10 {
    padding: 2.5rem !important;
}
.flex-column {
    flex-direction: column !important;
}

#loginButton {
    width: -webkit-fill-available;
    padding: 10px;
    margin-top: 10px;
    background-color: #1cc61c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#loginButton:hover {
    background-color: #029d00;
}

input#email, input#password {
    width: -webkit-fill-available;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.t-step {
    counter-reset: step;
    font-family: inherit;
    display: flex;
    margin: 0 0 16px 0;
    padding: 0;
    max-width: 760px;
}

.t-step li:active, .t-step li.active {
    color: #1cc61c;
    font-weight: bold;
}

.t-step li {
    list-style-type: none;
    width: 33.333333%;
    font-size: 16px;
    position: relative;
    text-align: center;
    color: #828897;
}
.t-step li:active:before, .t-step li.active:before {
    border-color: #1cc61c;
}
.t-step li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 28px;
    border: 2px solid #828897;
    display: block;
    text-align: center;
    margin: 0 auto 6px auto;
    border-radius: 50%;
    background-color: #fff;
    font-weight: bold;
    z-index: 2;
    position: relative;
}
@media (min-width: 768px) {
    .t-step span {
        display: block !important;
        position: relative;
        font-size: 15px;
    }
}
.t-step span {
    white-space: nowrap;
}
.t-step li:not(.active):after{
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #cfd9e5;
    border-bottom: 1px solid #f8fbff;
    top: 15px;
    left: -50%;
    z-index: 0;
}

    
    form {
        display: flex;
        flex-direction: column;
    }

    .group {
        display: flex;
        gap: 10px;
    }

    .g-grid {
        display: grid;
        width: 50%;
    }

button {
    width: -webkit-fill-available;
    padding: 10px;
    margin-top: 10px;
    background-color: #1cc61c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #029d00;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 2px solid #029d00;
  transition: 0.2s all linear;
  position: relative;
  margin-right: 5px;
  top: 4px;
}

input[type="radio"]:checked {
  border: 6px solid #1cc61c;
}

.party {
    margin-bottom: 5px;
}
