
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
.g-3, .gy-3 {
    --bs-gutter-y: 1rem;
}
.g-3, .gx-3 {
    --bs-gutter-x: 1rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
    }
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
    box-sizing: border-box;
}

.rounded {
    border-radius: .25rem !important;
}
.bg-white {
    background-color: #eee !important;
}
.p-3 {
    padding: 1rem !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-around {
    justify-content: space-around !important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}
.d-flex {
    display: flex !important;
}

.fs-2 {
    font-size: calc(1.325rem + .9vw) !important;
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.fs-5 {
    font-size: 1rem !important;
}
.fs-5 {
    font-size: 1.25rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


