body {
    background: linear-gradient(99.94deg, #543a80 9.02%, #2f0d46 88.28%);
    font-family: CPN, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff05;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 2px #00000025;
    position: fixed;
    width: 100%;
    top: 0;
}

header img.logo {
    height: 40px;
}

#profileContainer {
    position: relative;
    cursor: pointer;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-box {
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 2px 2px #00000025;
    border-radius: 8px;
    z-index: 10;
    width: 200px;
    text-align: right;
}

button[onclick="logout()"] {
    border: none;
    outline: none;
    background: #44cf00;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.profile-box.show {
    display: block;
}

button {
    font-family: inherit;
}

.container { width: 100%; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; } 
@media (min-width: 576px) { .container { max-width: 540px; } } 
@media (min-width: 768px) { .container { max-width: 720px; } } 
@media (min-width: 992px) { .container { max-width: 960px; } } 
@media (min-width: 1200px) { .container { max-width: 1140px; } } 
@media (min-width: 1400px) { .container { max-width: 1320px; } }

/* [data-menu="0"] .menu-row */
[data-menu="0"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 0;
}

[data-menu="0"] button {
    width: calc(50% - 20px);
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
}

[data-menu="1"] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 0;
}

[data-menu="1"] button {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
}

[data-menu="0"] button,
[data-menu="1"] button {
    background-image: linear-gradient(to right, #fffa00, #ff9b00, #ff9b00, #f01515);
    background-size: 300% 100%;
    color: #0e00c0;
    border: none;
    font-weight: 700;
    transition: all .4s ease-in-out;
    border-radius: 3px;
}

[data-menu="0"] button:hover ,
[data-menu="1"] button:hover {
    color: #0e00c0;
    background-position: 100% 0;
    transform: scale(1.06);
}
