<header>
  <div class="logo">
    <img src="https://media.discordapp.net/attachments/1367228675640262707/1367240896936022137/Government_House.png?ex=68225e4f&is=68210ccf&hm=5872c6ccbc69a53b261ecdf431f2c916ea5367e1f7a25ef46f3cde70afdf6627&=&format=webp&quality=lossless&width=960&height=960" alt="Logo"> <!-- โลโก้ -->
  </div>
  <ul class="menu">
    <li><a href="index.html">หน้าหลัก</a></li>
    <li class="dropdown">
      <a href="#">เกี่ยวกับ</a>
      <div class="dropdown-content">
        <a href="policy.html">นโยบาย</a>
        <a href="executives.html">ทำเนียบผู้บริหาร</a>
      </div>
    </li>
    <li><a href="#">ติดต่อเรา</a></li>
  </ul>
</header>
