:root {
  --yellow-dark: #ffcb00;
  --blue-dark: #1a2238;
  --white: #ffffff;
  --header: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: CPN, sans-serif;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--blue-dark);
}

.header {
  background-color: var(--header);
  color: var(--yellow-dark);
  padding: 10px 0;
  box-shadow: 2px 2px 2px #00000025;
}

.header h1 i {
  padding-right: 5px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

[data-header] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 1rem 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  position: relative;
}

.nav-links li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111;
  text-decoration: none;
}

/* ========== SUBMENU ========== */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  padding: 0.5rem 0;
  list-style: none;
  z-index: 1000;
}

.submenu .submenu {
    background: #efefef;
}

.has-submenu.open > .submenu {
  display: block;
}

.nav-links .submenu li {
  white-space: nowrap;
}

.nav-links .submenu li a {
  display: block;
  padding: 0.5rem 1rem;
  text-align: left;
  color: #111;
  text-decoration: none;
}

.nav-links .submenu li a:hover {
  background-color: #f0f0f0;
  color: #007BFF;
}

.submenu .submenu a {
    padding-left: 1.5em !important;
}

[data-first] {
  display: block;
}
[data-sec] {
  display: none;
}

@media (max-width: 390px) {
  [data-first] {
    display: none;
  }
  [data-sec] {
    display: block;
    font-size: 20px;
  }
}


.hero {
  background-color: var(--yellow-dark);
  color: var(--blue-dark);
  padding: 60px 0;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.hero button {
  background-color: var(--blue-dark);
  color: var(--yellow-dark);
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
}

.hero button:hover {
  background-color: #11172b;
}

.footer {
  background-color: var(--blue-dark);
  color: var(--yellow-dark);
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
